<div class="contenido">
    <h3>COMICS</h3>
    <table class="tabla">
      <tr><th>ID</th><th>NOMBRE</th><th>AÑO IMPRESION</th><th>SINOPSIS</th><th>EDITORIAL</th></tr>
      <tr *ngFor = "let comic of comics">
          <td>{{comic.id_comic}}</td>
          <td>{{comic.nombre}}</td>
          <td>{{comic.anio_impresion}}</td>
          <td>{{comic.sinopsis}}</td>
          <td>{{comic.editorial}}</td>
          <td><button (click) = "editarComic(comic)">EDITAR</button></td>
          <td><button  (click) = "eliminarComic(comic)">ELIMINAR</button></td>
      </tr>
    </table>
    <button (click) = "logOut()">LOG OUT</button>
  </div>