<div class="formulario">
    <h3>SIGN UP</h3>
    <form action="">
        <div class="campos">
            <input type="text" name="" id="inp" placeholder="Nombre">
            <input type="text" name="" id="inp" placeholder="Usuario">
            <input type="password" name="" id="inp" placeholder="Password">
            <input type="text" name="" id="inp" placeholder="DOB (YYYY-MM-DD)">
            <div class="radioB">
                <p>Sexo:</p>
                <p><input type="radio" id="male" name="gender" value="M">M</p>
                <p><input type="radio" id="female" name="gender" value="F">F</p>
            </div>
            <button id="inp">GUARDAR USUARIO</button>
        </div>
    </form>
</div>
